@charset "utf-8";

@font-face {
    font-family: 'Ghanachocolate';
    src: url('./common/Ghanachocolate.otf');
    font-weight: lighter;
}

/* 데스크톱 */
body {
    background-color: #F3F2ED;
}

/* 전체 화면 비율 */
.container {
    width: 100%;
    height: 100%;
}

/* 부드러운 스크롤 */
html {
    scroll-behavior: smooth;
}

/* 메인 구역 (+7%씩 공백) */
main {
    padding: 5% 12% 5% 27%;
}

/* 프로필바 */
aside {
    position: fixed;
    float: left;
    width: 20%;
    height: 92%;
    border-radius: 3.125rem;
    background-color: #DDDFD1;
    top: 4%;
    left: 2%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.profile-img {
    width: 12.5rem;
    height: 12.5rem;
    margin-top: 4.375rem;
}

aside h3 {
    margin-top: 0.938rem;
    font-size: 1.375rem;
    font-weight: bold;
    color: #2A412A;
}

aside h4 {
    margin-top: 0.313rem;
    font-size: 1rem;
    color: #2A412A;
}

/* 프로필바 contact */
aside div {
    margin-top: 1.875rem;
    display: flex;
    justify-content: center;
}

aside div img {
    width: 3.75rem;
    height: 3.75rem;
}

/* 페이지 타이틀 */
.page-title {
    font-family: 'Ghanachocolate';
    font-size: 50px;
    color: #B7B9A2;
}

/* 메뉴바 */
nav {
    width: 5%;
    height: 18.75rem;
    background-color: #DDDFD1;
    border-radius: 3.125rem;
    position: fixed;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 4%;
    right: 2%;
}

nav img {
    width: 4.063rem;
    height: 4.063rem;
}

nav img:hover {
    filter: opacity(0.5) drop-shadow(0 0 0 #2A412A);
}





/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/
@media all and (min-width:1024px) and (max-width:1279px) {
    body {
        background-color: #ceb382;
    }
}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    body {
        background-color: #c2d18b;
    }
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) {
    body {
        background-color: #95bddd;
    }
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {
    body {
        background-color: #9b92cf;
    }
}