.about-section {
    /* padding: 5vw; */
    width: calc(100% - 37vw);
    height: calc(100vh - 10vw);
    z-index: 0;
    overflow: hidden;
}

.about-pageTitle {
    margin-top: 3vw;
    font-family: 'Ghanachocolate';
    font-size: 6vw;
    color: #A1A594;
    text-align: right;
}

.about-intro {
    margin: 0 auto;
    /* width: 80%; */
    justify-content: center;
    gap: 2vw;
}

.about-intro hr {
    margin-top: 2vw;
    margin-bottom: 3vw;
    border: 3px solid #A1A59450;
}

.about-me {
    font-family: 'jejuGothic';
    margin-top: 2vw;
    font-weight: bold;
    font-size: 1.7vw;
    color: #475347;
    line-height: 2.5vw;
    text-align: right;
}

.about-comment {
    margin-top: 1vw;
    font-size: 1.1vw;
    color: #475347;
    line-height: 1.4vw;
    text-align: right;
}

.sec1_bottom {
    margin: 0 auto;
    /* width: 80%; */
    justify-content: space-between;
    align-items: center;
    z-index: 20;
}

.txt-bg3 {
    background:linear-gradient(180deg,rgba(255,255,255,0) 50%, gold 50%);
}