.project-section P{
    /* padding: 5vw; */
    width: calc(100% - 37vw);
    height: calc(100vh - 10vw);
    z-index: 0;
    overflow: hidden;
}

.skill .sec2 {
    padding: 5vw 0;
    width: 100%;
    height: calc(100vh - 10vw);
    align-items: end;
    justify-content: space-between;
    transition: 0.3s;
}

.skill .sec2 h3 {
    align-items: end;
    padding-right: 8vw;
    transition: 0.3s;
}

.skill .sec2 .skill_list {
    list-style: none;
    padding: 0;
    width: 100%;
    z-index: 1;
    transition: 0.3s;
}

.skill .sec2 .skill_list li {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 13vh;
    border-top: 1px solid #A1A594;
    transition: 0.3s;
}

.skill .sec2 .skill_list li:last-child {
    border-bottom: 1px solid #A1A594;
}

.skill .sec2 .skill_list li:hover {
    background-color: #A1A594;
    background-attachment: cover;
    color: #fff;
    transition: 0.3s;
}

.skill .sec2 .skill_list li .hidden {
    text-align: left;
    color: #fff;
    opacity: 0;
    transition: 0.6s;
}

.skill .sec2 .skill_list li:hover .hidden {
    opacity: 1;
}

.skill .sec2 .skill_list li:last-child {
    padding-bottom: 0;
}

.skill .sec2 .skill_list li h4 {
    width: 30%;
    text-align: left;
    font-family: var(--main-txt-font);
    font-size: var(--font-size-40);
    font-weight: 700;
    padding-left: 8vw;
}

.skill .sec2 h3 {
    font-family: var(--main-txt-font);
    font-size: var(--font-size-40);
}

.skill .sec2 .skill_list li span {
    padding-right: 8vw;
    width: calc(50% - 3vw);
}

.skill .sec2 .skill_list li span p {
    width: 100%;
    font-size: var(--font-size-20);
    font-family: var(--kr-txt-font);
    text-transform: uppercase;
    text-align: right;
}