.skill-section {
    padding: 4vw 0;
    width: 100%;
    height: calc(100vh - 10vw);
    align-items: end;
    justify-content: space-between;
    transition: 0.3s;
}

.skill-section .skill-list {
    list-style: none;
    padding: 0;
    width: 100%;
    z-index: 1;
    transition: 0.3s;
}

.skill-section .skill-list li {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 16vh;
    border-top: 1px solid #A1A594;
    transition: 0.3s;
}

.skill-section .skill-list li:last-child {
    border-bottom: 1px solid #A1A594;
}

.skill-section .skill-list li:hover {
    background-color: #A1A594;
    background-attachment: cover;
    color: #fff;
    transition: 0.3s;
}

.skill-section .skill-list li .hover-text {
    text-align: left;
    color: #fff;
    opacity: 0;
    transition: 0.6s;
}

.skill-section .skill-list li:hover .hover-text {
    opacity: 1;
}

.skill-section .skill-list li h4 {
    text-align: left;
    font-weight: 700;
    padding-left: 1vw;
    font-size: 1.5vw;
}

.skill-section .skill-list li h5 {
    text-align: left;
    padding-left: 1vw;
    font-size: 1vw;
    margin-top: 0.3vw;
}

.skill-section .skill-list li span {
    padding-right: 8vw;
    width: calc(50% - 3vw);
}

.skill-section .skill-list li span p {
    width: 100%;
    text-transform: uppercase;
    text-align: right;
}

.skill-flex {
    display: flex;
    justify-content: space-between;
}