/* 메뉴바 */
a {
    text-decoration: none;
    color: #475347;
}

.nav-top {
    width: 5%;
    height: 40vh;
    background-color: #DDD7C1;
    border-radius: 3.125rem;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 4%;
    right: 2%;
}

.nav-bottom {
    width: 5%;
    height: 13vh;
    background-color: #DDD7C1;
    border-radius: 3.125rem;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 4%;
    right: 2%;
}

nav img {
    width: 4.3vw;
}

nav img:hover {
    transition: 0.5s;
    filter: invert(50%) sepia(3%) saturate(1651%) hue-rotate(40deg) brightness(99%) contrast(50%);
}

.navActive {
    filter: invert(50%) sepia(3%) saturate(1651%) hue-rotate(40deg) brightness(99%) contrast(50%);
}