/* 메뉴바 */
a {
    text-decoration: none;
    color: #475347;
}

nav {
    width: 5%;
    height: 18.75rem;
    background-color: #DDD7C1;
    border-radius: 3.125rem;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 4%;
    right: 2%;
}

nav img {
    width: 4.063rem;
    height: 4.063rem;
    
}

nav img:hover {
    transition: 0.5s;
    filter: opacity(0.3) drop-shadow(0 0 0 #C0AC93);
}

.navActive {
    filter: opacity(0.5) drop-shadow(0 0 0 #C0AC93);
}