/* 프로필바 */
aside {
    position: fixed;
    float: left;
    width: 20%;
    height: 92%;
    border-radius: 6rem;
    background-color: #E5E5D9 ;
    top: 4%;
    left: 2%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.profile-img {
    width: 12vw;
    margin-top: 5vw;
}

aside h3 {
    margin-top: 1.3vw;
    font-size: 1.7vw;
    font-weight: bold;
    color: #2A412A;
}

aside h4 {
    margin-top: 0.5vw;
    font-size: 1vw;
    color: #2A412A;
}

/* 프로필바 contact */
aside div {
    margin-top: 1.2vw;
    display: flex;
    justify-content: center;
}

aside div img {
    width: 4vw;
    cursor: pointer;
}

aside div img:hover {
    transition: 0.5s;
    filter: opacity(0.3) drop-shadow(0 0 0 #F3F2ED);
}

.kakao-profile {
    display: none;
    position: absolute;
    margin-top: 4vw;
    width: 13vw;
}

.kakao:hover ~ .kakao-profile {
    display: block;
}