
.algore-section {
    /* padding: 5vw; */
    width: calc(100% - 37vw);
    /* height: calc(100vh - 10vw); */
    z-index: 0;
    overflow: hidden;
    color: #475347;
    overflow-x: hidden;
    font-family: 'GowunDodum';
}

.projectnout {
    padding: 2% 12% 0% 27%;
}


/****** project-header ******/

.project-header {
    width: 100%;
    height: calc(100vh - 5vw);
    overflow: hidden;
    top: 50%;
    display: flex;
    align-items: start;
}

.header_wrap img {
    width: 100%;
}

.headertxt h1 {
    margin-top: 1.3vw;
    font-size: 1.8vw;
    font-weight: bold;
    color: #475347;
}

.headertxt h2 {
    margin-top: 1.5vw;
    font-size: 1.5vw;
    font-weight: 600;
    color: #7B8676;
}

.headertxt-ul {
    display: flex;
    justify-content: start;
    gap: 20px;
    font-size: 1.1vw;
    margin-top: 1.7vw;
}

.headertxt-ul li {
    position: relative;
    font-weight: 500;
    color: #7B8676;
}

.headertxt-ul li::before {
    content: "";
    display: inline-block;
    width: 0.75vw;
    height: 0.75vw;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: #C0AC93;
    border-radius: 50%;
}

/* 프로젝트 링크 */
.headertxt .viewbtn a {
    font-weight: 500;
    font-size: 1.1vw;
    border: 2px solid #C0AC93;
    color: #C0AC93;
    font-weight: bold;
    width: 9vw;
    height: 2.5vw;
    display: block;
    text-align: center;
    align-items: center;
    align-content: center;
    line-height: 2.2vw;
    border-radius: 50px;
    margin-top: 2.3vw;
    margin-right: 1.5vw;
    box-shadow: 0.3vw 0.3vw #C0AC93;
}

.headertxt .viewbtn a:hover {
    background-color: #C0AC93;
    color: white;
    box-shadow: 0.3vw 0.3vw #DDD7C1;
}

.right-flex {
    display: flex;
    justify-content: start;
}

/****** overview ******/
.overview {
    /* padding: 7vw 0 0 0; */
}

.overview hr {
    margin-top: 8vw;
    margin-bottom: 8vw;
    border: 3px solid #A1A59430;
}

/* 섹션별 밑 여백 조정할때 */
.common_wrap {
    /* width: 80%; */
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    /* gap: 10vw; */
}

/* 밑줄 */
.common_wrap .line_after::after {
    content: "";
    width: 25vw;
    height: 2vh;
    background-color: #DDD7C1;
    position: absolute;
    left: 1.5vw;
    /* z-index: -9; */
    top: 4.5vw;
}

.common_wrap .line_after2::after {
    content: "";
    width: 23vw;
    height: 2vh;
    background-color: #DDD7C1;
    position: absolute;
    left: 1.5vw;
    /* z-index: -9; */
    top: 8vw;
}

.common_wrap h1 {
    margin-left: 2.5vw;
    font-size: 3.1vw;
    font-weight: bold;
    color: #A1A594;
    font-family: 'Ghanachocolate';
    line-height: 4vw;
}

/* 개요 작성 */
.overview_txt {
    width: 47%;
    /* display: flex;
    justify-content: end;
    align-items: end;
    text-align: end;
    align-content: end; */
}

.colorImg img {
    width: 20vw;
}

.overview_txt .overview_txt_ul li {
    /* position: relative; */
    font-size: 1.3vw;
    font-weight: 600;
    margin-bottom: 2vw;
}

.overview_txt .overview_txt_ul li p {
    font-weight: 400;
    font-size: 1.05vw;
    line-height: 1.5;
    padding: 1vw 0 0 1.3vw;
    color: #475347;
}

.overview_txt .overview_txt_ul li::before {
    content: "";
    display: inline-block;
    width: 0.75vw;
    height: 0.75vw;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: #47534795;
    border-radius: 50%;
}

.overview_txt .overview_txt_ul li strong {
    color: #7B8676;
    font-weight: bold;
    font-size: 1.1vw;
}

.project-border {
    font-size: 1.1vw;
    font-family: 'GowunDodum';
    margin-top: 1vw;
    margin-left: 1vw;
    width: 5vw;
    height: 2.5vw;
    border: 1px solid #A1A594;
    box-shadow: 0.3vw 0.3vw #A1A594;
    border-radius: 30px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.project-skill {
    font-size: 1.1vw;
    font-family: 'GowunDodum';
    margin-top: 1vw;
    margin-left: 1vw;
    width: 6.5vw;
    height: 2.5vw;
    border: 1px solid #A1A594;
    box-shadow: 0.3vw 0.3vw #A1A594;
    border-radius: 30px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
}

.project-veiw {
    font-size: 1vw;
    font-family: 'GowunDodum';
    margin-top: 1vw;
    margin-left: 0.4vw;
    width: 1.6vw;
    height: 1.6vw;
    background-color: #7B8676;
    border-radius: 30px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.project-veiw a {
    font-size: 0.8vw;
    color: white;
    margin-left: 0.1vw;
}

.left-flex {
    display: flex;
    justify-content: start;
}

.keyword-wrap {
    margin: 1.1vw 0 0 1.3vw;
}

.keyword-wrap span {
    font-size: 1.05vw;
    font-weight: 500;
    display: inline-block;
    border: 1.5px solid #333;
    width: 5vw;
    height: 5vw;
    line-height: 5vw;
    text-align: center;
    border-radius: 50%;
    margin-right: 1vw;
}

.pro-config img {
    width: 100%;
}

.skill-images img {
    width: 5vw;
}

/****** footer  ******/
.footer_ul {
    display: flex;
    width: 90%;
    margin: 5vw auto;
    margin-bottom: 4vw;
    text-align: center;
    gap: 2vw;
    font-family: 'Ghanachocolate';
    color: #7B8676;
}

.footer_ul li {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    border: 3px solid #A1A594;
    width: 22.5vw;
    padding: 0.8vw 0;
    font-weight: 500;
    border-radius: 50px;
    transition: 0.3s;
}

.footer_ul li a {
    width: 70%;
}

.footer_ul li svg {
    fill: #A1A594;
    width: 30px;
    height: 30px;
}

.footer_ul li:nth-child(2) {
    border-color: #C0AC93;
    color: #C0AC93;
}

.footer_ul li:hover {
    transform: translateY(-10px);
}

/****** 위로가기 ******/
.arrowbtn a {
    display: block;
    background-color: #C0AC93;
    color: #F3F2ED;
    font-size: 2.5vw;
    width: 5vw;
    height: 5vw;
    border-radius: 70%;
    fill: var(--bg-color1);
    transition: 0.3s;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 9vw;
    right: 2%;
}

.arrowbtn a:hover {
    transform: translateY(-7px);
}
